<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="documento.css">
</head>
<body>
  <header>
    <div>
      <p><b>CIENCIA Y ENFERMERIA</b> X (1): 17-21, 2004</p>
      <h3>I.S.S.N. 0717 - 2079</h3>
    </div>
    <div>
      <h1>ELABORACION DE UN ARTICULO CIENTIFICO DE INVESTIGACION</h1>
      <h1>RESEARCH SCIENTIFIC ARTICLE KNOW HOW</h1>
      <h2>ELENA ENRIQUEZ FIERRO* y MARIA INES ZEPEDA GONZALEZ**</h2>
    </div>
  </header>
  <main>
    <section>
      <div>
        <h3>RESUMEN</h3>
      </div>
      <p>
        El artículo presenta la forma de redactar correctamente un artículo científico como reporte de una investigación,
contempla cada una de las etapas que debe contener para su aprobación. Se sugiere la forma de redactar desde el título
hasta la bibliografía, en un lenguaje comprensible y científico. Enfatiza en cómo deben ser presentados los resultados
obtenidos para su mejor comprensión de la comunidad científica        
      </p>
      <p><b>Palabras claves</b>: Artículo científico, producción, investigación.</p>
    </section>
    <section>
      <div>
        <h3>ABSTRACT</h3>
      </div>
      <p>
        This article introduces ways of writing correctly an article as a research report. It includes every step that has to be
taken into account for its approval. The authors provide suggestions of the report writing going from the title to the
references, both, in a comprehensive and scientific language. It emphasizes on how the results must be presented for a
better understanding of the scientific community.
      </p>
      <p><b>Keywords</b>: Scientific article, production, research</p>
      <p>Recepcionado: 10.05.2004.&emsp;Aceptado:11.06.2004</p>
    </section>
    <section>
      <article>
        <div>
          <h3>INTRODUCCION</h3>
          <p>
            El objetivo del presente artículo es guiar a
quienes se inician en la escritura científica,
paso a paso en sus etapas, destacando los as-
pectos más relevantes.
La etapa final de una investigación es co-
municar los resultados, de manera que éstos
permitan integrar los conocimientos a la prác-
tica profesional, es decir, se basa en los hallaz-
gos de estudios científicos que deben tener va-
lidez, importancia, novedad y utilidad para el
quehacer profesional. En relación a las publi-
caciones científicas, existe una serie de mitos:
se cree, por ejemplo, que si una revista es de
prestigio, publicar en ella es signo de validez
o que si el autor es prestigioso la publicación
será de gran valor; se piensa que si un autor
          </p>
        </div>
        <div>
          <p>
            ha publicado con anterioridad un muy buen
trabajo, ello es garantía futura de validez cien-
tífica o que está libre de prejuicios y de sesgos.
Esto no es tan cierto, en el trabajo investigati-
vo y sus resultados pesan muchos otros ele-
mentos que se presentan en este artículo.
Esta etapa final es similar a la etapa inicial
en el grado de dificultad que involucra. Para
interpretar y comunicar los resultados de un
estudio se requiere experiencia, conocimiento
de la estadística y capacidad de análisis para
realizar los comentarios pertinentes relacio-
nándolo con otros hallazgos de investigacio-
nes similares, incluyendo creatividad del autor
o autores, compenetración intelectual, razo-
namiento lógico y sensibilidad frente a las in-
terpretaciones que se pueden dar.
          </p>
        </div>
      </article>
    </section>
  </main>
  <footer>
    <div>
      <p>
        *Enfermera, docente Departamento Enfermería Universidad de Concepción, Concepción, Chile. E-mail: ehenriqu@udec.cl
       <br>**Enfermera, docente Departamento Enfermería Universidad de Concepción, Concepción, Chile. E-mail: marceped@udec.cl
      </p>
    </div>
    <div>
      <h6>17</h6>
    </div>
  </footer>
</body>
</html>