<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="hormonas.css">
    <title>pene mmm</title>
</head>
<body>
    <header>
        <h1>Tipos de Hormonas</h1>
    </header>
    <main>
        <article>
            <h2>Crecimiento</h2>
            <p>
                La hormona de crecimiento (GH, por sus siglas en inglés) es una proteína producida por la glándula pituitaria, ubicada en la base del cerebro. Es fundamental para el crecimiento y desarrollo durante la niñez y adolescencia, promoviendo el aumento de altura, el crecimiento de músculos y huesos, y la regulación del metabolismo. En los adultos, la GH ayuda a mantener la masa muscular, la densidad ósea y la distribución de grasa corporal. La secreción de esta hormona se ve afectada por factores como la edad, el sueño, el ejercicio y los niveles de estrés.
            </p>
            <ul>
                <li>algo</li>
                <li>algo 2</li>
                <li>algo 3</li>
            </ul>
            <ol>
                <li>algo</li>
                <li>algo2 </li>
            </ol>
        </article>
        <article>
            <h2>Insulina</h2>
            <p>
                La insulina es una hormona producida por el páncreas que juega un papel crucial en la regulación del azúcar en la sangre. Cuando ingerimos alimentos, los niveles de glucosa en la sangre aumentan, y la insulina se libera para ayudar a las células del cuerpo a absorber la glucosa, utilizándola como fuente de energía o almacenándola en el hígado y los músculos para su uso posterior. Esta hormona es esencial para mantener niveles de glucosa estables en la sangre. Un mal funcionamiento en la producción o utilización de insulina puede llevar a enfermedades como la diabetes.
            </p>
        </article>
        <article>
            <h2>Tiroidea</h2>
            <p>
                La hormona tiroidea, producida por la glándula tiroides en el cuello, es crucial para regular el metabolismo del cuerpo. Las principales hormonas tiroideas son la tiroxina (T4) y la triyodotironina (T3), que influyen en cómo las células del cuerpo utilizan la energía, afectan la temperatura corporal, el ritmo cardíaco y el crecimiento. Estas hormonas también juegan un papel vital en el desarrollo del sistema nervioso y la maduración de órganos durante la infancia. Un desequilibrio en los niveles de hormona tiroidea puede llevar a condiciones como el hipotiroidismo o el hipertiroidismo, afectando diversas funciones corporales.
            </p>
        </article>
    </main>
</body>
</html>